<%= link_to "Upload New File", new_file_path%><br/>
	<ul>
		<%@dirs.each do |dir|%>
		<%if format_name(dir) == "."%>
			<li><%=link_to "..back", get_item_path(:t => "dir", :f => "/")%></li>
		<%else%>
			<li><%=link_to format_name(dir), get_item_path(:t => "dir", :f => format_name(dir))%></li>
		<%end%>		
		<%end%>
	</ul>
	
	<ul>
		<%@files.each do |file|%>
			<li><%=link_to format_name(file), get_item_path(:t => "file", :f => "#{@current}/#{format_name(file)}", :n => format_name(file)) %></li>
		<%end%>
	</ul>

