// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table_design
{
border-collapse:collapse;
margin:10px;
}
.table_design ,.table_design th,.table_design td
{
border: 2px solid #EAEAEA;
text-align:center;
}
